- name: "services"
  hosts: all

  vars:
    services:
      - { service: RSCDsvc, state: present, start_mode: auto, comment: BMC BladeLogic Agent }
      - { service: VMtools, state: present, start_mode: auto, comment: VMware Tools }

  tasks:
    - name: "Ensure state of services"
      win_service:
        name: "{{ win_service.service }}"
        start_mode: "{{ win_service.start_mode }}"
        state: "{{ win_service.state }}"
      with_items: "{{ services }}"
      loop_control:
        loop_var: win_service
        label: "win_service {{ win_service.service }}"
