- name: "Create VM from template in VMware"
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    name: "MyRHEL7"
    template: "RHEL7"
    vcpus: 1
    memory: 1024
    os: rhel7_64Guest
    disk_size_gb: 30
    disk_type: thin
    network: "VM Network"
    machine_environment: "staging"
    machine_class: "unknown"
    datacenter: "europe-central-fr1"
    cluster: "POD01"
    datastore: "gluster_datastore_01"
    annotation:
      - "environment={{ machine_environment }}"
      - "class={{ machine_class }}"
    validate_certs: False
    dumpfacts: False
    wait_for_ip_address: True
    state: poweredon

  tasks:
    - name: "Ensure state of virtual instance in vmware"
      vmware_guest:
        validate_certs: "{{ validate_certs }}"
        esxi_hostname: "{{ esxhost | default(omit) }}"
        datacenter: "{{ datacenter }}"
        name: "{{ name }}"
        template: "{{ template }}"
        folder: "{{ folder | default(omit) }}"
        guest_id: "{{ os }}"
        disk:
          - size_gb: "{{ disk_size_gb }}"
            type: "{{ disk_type }}"
            datastore: "{{ datastore }}"
        nic:
          - type: vmxnet3
            network: "{{ network }}"
        hardware:
          memory_mb: "{{ memory }}"
          num_cpus: "{{ vcpus }}"
        wait_for_ip_address: "{{ wait_for_ip_address }}"
        annotation: "{{ annotation | join(',') }}"
        state: "{{ state }}"
      register: r_vmware_guest

    - name: "Output"
      debug: var=r_vmware_guest
